require 'csv'
def process_file_with_csv
        result 0
        CSV.foreach("directory to file/file","r") do |row|
                result=result +row[1].to_i
        end
        p result
end
def languages_homework
  perl=0
	python = 0
	ruby = 0
	CSV.foreach("directory to file/file","r") do |row|
		if row[6]==ruby
			ruby=ruby +row[2].to_i		
		else if row[6]==python
			python=python +row[2].to_i	
		else if row[6]==perl
			perl=perl +row[2].to_i
		end		
	p ruby
        p python
	p ruby
			
def process_file
        f=File.open("/home/student11a/csv_example.csv","r")
        content= f.read
        result = 0
        content.each_line do |line|
                array=line.split(",")
                Integer(array[1])
                result= result + (array[1]).to_i

        end
        p result
end
process_file
process_file_with_csv
languages_homework
